@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

i {
  padding: 7px 20px;
  border-radius: 5px;
  background-color: #222;
  color: white;
  cursor: pointer;
}

#container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 70px;
  background-color: #eb5757;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu {
  display: flex;
  gap: 4rem;
}
.menu a {
  color: white;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}
.menu a:hover {
  color: aliceblue;
  background: black;
}

#banner {
  min-height: 70vh;
  background-image: url("../img/imagem1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 100px;
  padding-left: 150px;
}
#banner h1 {
  width: 35%;
  color: #f9f9f9;
  font-size: 62px;
  line-height: 1.2;
}
#banner p {
  width: 35%;
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
}

.btnSlide {
  background-color: Transparent;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  padding: 5px 25px;
  cursor: pointer;
  overflow: hidden;
}
.btnSlide:hover {
  background-color: white;
  color: #222;
}

#section_primary {
  margin-top: 40px;
}

.primary_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title_info {
  flex-basis: 40%;
}
.title_info .section_top {
  text-transform: uppercase;
}

.paragrafo_info {
  flex-basis: 40%;
}

#produtos {
  margin-top: 30px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service {
  background-color: #222;
  color: aliceblue;
  width: 320px;
  height: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.service_title1 {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 40px;
  position: absolute; /* Adicione position absolute */
  top: 0; /* Adicione top 0 */
  left: 0; /* Adicione left 0 */
}

.service_title2 {
  text-align: center;
  font-size: 40px;
}

#formas_cir {
  width: 120px;
  margin-bottom: -50px;
  margin-right: -40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#formas_tri {
  width: 150px;
  margin-bottom: -50px;
  margin-right: -30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#formas_rec {
  width: 100px;
  margin-bottom: -50px;
  margin-right: -30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.service_info {
  width: 300px;
  margin-top: 30px; /* Adicionando um espaço entre o serviço e as informações */
  z-index: 0; /*Coloquei para a imagem não aparecer em baixo*/
}

.banner2 {
  min-height: 70vh;
  background-image: url("../img/imagem2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 60px 90px 0;
}
.banner2 h2 {
  width: 45%;
  color: #f9f9f9;
  font-size: 52px;
  line-height: 1.2;
}
.banner2 p {
  width: 38%;
  margin-top: 15px;
  margin-right: 7px;
  color: #f9f9f9;
  font-size: 18px;
}

.txt1 {
  display: flex;
  margin-left: 70px;
}

.txt2 {
  display: flex;
  margin-left: 140px;
}

.btnSlide2 {
  background-color: white;
  color: black;
  border: 2px solid white;
  font-weight: bold;
  margin: 20px 160px 0 0;
  padding: 5px 25px;
  cursor: pointer;
  overflow: hidden;
}
.btnSlide2:hover {
  background-color: white;
  color: #222;
}

.section_top {
  padding: 30px 0 10px 200px;
  font-size: 14px;
}

.section_title {
  padding: 0 0 30px 200px;
}

#box_produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.img_section_tertiary {
  height: 400px;
  width: 360px;
}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nome_info {
  margin-top: 30px;
  color: #222;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.valor_info {
  color: #222;
  font-size: 14px;
  font-weight: 700;
}

.btn_info {
  padding: 5px 20px;
  background-color: rgb(40, 130, 40);
  color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}

.btn_principal {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn_tertiary {
  padding: 5px 20px;
  background-color: #222;
  color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}

#section_quarter {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mulher {
  width: 250px;
  height: 320px;
  background-image: url(../img/mulher.jpg);
  background-size: cover;
  background-position: right;
  position: absolute;
  z-index: 1;
  left: 300px;
  bottom: 150px;
}

.quarter {
  height: 400px;
  width: auto;
  background-color: #222;
  display: flex;
  align-items: center;
  position: relative;
  top: 30px;
  left: 20px;
}

.quarter_info {
  color: #f9f9f9;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px;
}

#footer {
  min-height: 60px;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.redes_sociais {
  width: 20px;
  display: flex;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
